
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;800&family=Noto+Serif:ital,wght@1,300&family=Oswald:wght@700&family=Poppins:wght@300&family=Ubuntu&display=swap");
@media (max-width: 600px) {
  #forflex {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 80%;
    scale: 1.2;
    margin-top: 20px;
    z-index: 1;
    margin-top: 195px;
  }
}


body {
  background: #161b22;
  font-family: "Exo 2", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.sec1 {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 83px 0px;
}

.firstsection>div {
  width: 32%;
  margin: 90px 0px;
}

.lefttsection {
  text-align: center;
  font-size: 3rem;
}

.lefttsection .btn1 .res,
.git {
  padding: 4vh;
  /* margin: 70px 11px; */
  margin-top: 10%;
  font-size: 1rem;
  border-radius: 9px;
  background-color: #161b22;
  color: #fafafa;
  cursor: pointer;
}

.rightsection img {
  width: 80%;
  /* margin: 80px 10px; */
}

.icon1{
  text-decoration: none;
  font-size:35px;
  /* margin: 20px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon1 i{
  /* margin-left: 20px; */
  color: red;
  margin: 20px 20px;
}
main hr {
  border: 0;
  color: transparent;
  background: #9c97f1;
  height: 0.2rem;
  margin: 40px 84px;
}

.hii {
  text-align: center;
}

.secondsection {
  max-width: 80vw;
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
}

.container .box img {
  /* position: relative; */
  margin-bottom: 20px 20px;
  width: 100%;
  height: 100%;
}

.container .box img:hover {
  background-image: linear-gradient(rgb(64, 66, 67),
      rgb(64, 57, 67),
      rgb(65, 60, 63));
}
@media only screen and (max-width: 599px) {
  .imgsmall{
      
      width: 120px;
      /* background-color: blue; */
  }
}
@media only screen and (max-width: 566px) {
  .profileAdj{
      
      display: flex;
      flex-direction: column-reverse;
      
  }
}

